[submodule "salt/formulas/consul"]
        path = salt/formulas/consul
        url = https://github.com/saltstack-formulas/consul-formula.git
[submodule "salt/formulas/docker"]
        path = salt/formulas/docker
        url = https://github.com/saltstack-formulas/docker-formula.git
[submodule "salt/formulas/elrepo"]
        path = salt/formulas/elrepo
        url = https://github.com/saltstack-formulas/elrepo-formula.git
[submodule "salt/formulas/nomad"]
        path = salt/formulas/nomad
        url = https://github.com/saltstack-formulas/nomad-formula.git
[submodule "salt/formulas/vault"]
        path = salt/formulas/vault
        url = https://github.com/saltstack-formulas/vault-formula.git
[submodule "salt/formulas/bind"]
        path = salt/formulas/bind
        url = https://github.com/saltstack-formulas/bind-formula.git
[submodule "salt/formulas/ceph"]
        path = salt/formulas/ceph
        url = https://github.com/rbjorklin/ceph-formula.git
        branch = add-mgr
[submodule "salt/formulas/chrony"]
        path = salt/formulas/chrony
        url = https://github.com/saltstack-formulas/chrony-formula.git
[submodule "salt/formulas/firewalld"]
	path = salt/formulas/firewalld
	url = https://github.com/saltstack-formulas/firewalld-formula.git
