[submodule "roles/nomad"]
	path = roles/nomad
	url = git@github.com:brianshumate/ansible-nomad.git
[submodule "roles/vault"]
	path = roles/vault
	url = git@github.com:brianshumate/ansible-vault.git
[submodule "roles/consul"]
	path = roles/consul
	url = git@github.com:brianshumate/ansible-consul.git
[submodule "roles/docker"]
	path = roles/docker
	url = git@github.com:geerlingguy/ansible-role-docker.git
