global
    log         stdout local2
    maxconn     4000

    # utilize system-wide crypto-policies
    ssl-default-bind-ciphers PROFILE=SYSTEM
    ssl-default-server-ciphers PROFILE=SYSTEM

{% include 'haproxy/defaults.cfg' %}

frontend main
    bind *:80
    monitor-uri /haproxy/status
    default_backend     http_nomatch

backend http_nomatch
    mode http
    http-request deny deny_status 400
